@page 
@model VehicleStockVolkswagen.Pages.Vehicles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Stock List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Search Make: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
        <select asp-for="VehicleBody" asp-items="Model.Body">
            <option value="">Body</option>
        </select>
        <select asp-for="VehicleEngine" asp-items="Model.Engine">
            <option value="">Engine</option>
        </select>
        <select asp-for="VehicleGear" asp-items="Model.Gear">
            <option value="">Gear</option>
        </select>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].Engine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].Gear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vehicle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
